.footer-section {
	
	strong {
		text-align: center;
		display: block;
	}

	.creator {
		text-align: left !important;
		left: 20px;
		position: absolute;
		display: inline-block;
		margin: 20px 10px 0px 10px;
		img {
			width: 100px !important;
		    margin: 0px auto !important;
		    display: block;
		}
	}

	.social-images-block {
		text-align: center;

		img {
			width : 50px;
			margin: 20px 10px;
		}
	}

	p {
		text-align: center;
	}
}