.footer-section {
	
	strong {
		text-align: center;
		display: block;
	}

	.social-images-block {
		text-align: center;

		img {
			width : 50px;
			margin: 20px 10px;
		}
	}

	p {
		text-align: center;
	}
}