.home-page {

	.list {
		/*list-style: disc;*/

		li {
			padding-left: 1.5em;
			background: url(/images/icons/list_icon_blue.png) 1px 8px no-repeat;
			background-size: 8px;
			margin-top: 10px;
		}
	}

	.slider {
		#homeCarousel {
			/*border: 1px solid $logoBrown;*/
			/*max-width: 900px;*/
			max-height: 300px;
			margin: auto;
			
			.item {
				img {
					max-width: 900px;
					max-height: 300px;
					margin: auto;
				}
			}

			.right {
				background-image: -webkit-linear-gradient(left,rgba(243,150,30,.0001) 0,rgba(243,150,30,.5) 100%);
    			background-image: -o-linear-gradient(left,rgba(243,150,30,.0001) 0,rgba(243,150,30,.5) 100%);
    			background-image: -webkit-gradient(linear,left top,right top,from(rgba(243,150,30,.0001)),to(rgba(243,150,30,.5)));
    			background-image: linear-gradient(to right,rgba(243,150,30,.0001) 0,rgba(243,150,30,.5) 100%);	
			}

			.left {
				background-image: -webkit-linear-gradient(left,rgba(243,150,30,.5) 0,rgba(243,150,30,.0001) 100%);
    			background-image: -o-linear-gradient(left,rgba(243,150,30,.5) 0,rgba(243,150,30,.0001) 100%);
    			background-image: -webkit-gradient(linear,left top,right top,from(rgba(243,150,30,.5)),to(rgba(243,150,30,.0001)));
    			background-image: linear-gradient(to right,rgba(243,150,30,.5) 0,rgba(243,150,30,.0001) 100%);		
			}
			.carousel-control {

				
    			/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);*/

				.glyphicon {
					color: $logoBlue;
				}
			}
		}
	}

	.after-header {
		margin-top: 50px;

		.headding {
			text-align: center;
		}

		.image-div, .video-div {
			padding: 40px;

			img, video {
				width: 100%;
				max-width: 500px;
				margin: auto;
				display: block;
				height: 300px;
			}

			video {
				background-color: black;
			}
		}
	}
}