.turboSoftware {
	margin: 50px 0px;

	.list {
		/*list-style: disc;*/
		margin-bottom: 50px;

		li {
			padding-left: 1.5em;
			background: url(/images/icons/list_icon_blue.png) 1px 8px no-repeat;
			background-size: 8px;
			margin-top: 10px;
		}
	}

	.image {
		margin: 20px auto 40px auto;
		display: block;
		max-width: 900px;
	}

	.small {
		margin-top: 140px;
	}

	.book1-section {
		/*margin-top: 50px;*/

		img {
			width: 150px;
			margin: 10px auto;
    		display: block;
		}
	}

	.contactUs {
		margin-top: 20px;
	}
}