/node_modules
/public/node_modules
/public/storage/app

/bower_components
/public/storage/framework
/public/storage/logs
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
*.lock

/public/.sass-cache
.DS_Store
